/* utils */

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  background-color: #1ed460;
}

img{
  width: 100%;
}

header, footer {
  height: 100px;
}

.cp{
  cursor: pointer;
}

.hov-underline:hover{
  text-decoration: underline !important;
}

.placeholder-white::placeholder{
  color: white !important;
}

/* header */

header .logo{
  width: 80px;
}

/* main */

main{
  margin-top: 100px;
}

main .album-info{
  display: none;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 0 100px;
  background: linear-gradient(to bottom, black, rgb(58, 58, 58));
}

main .album-info .image{
  width: 400px;
}

main .album-info .exit{
  bottom: 35px;
  right: 50px;
  padding: 0 15px;
  color: lightgray;
}

.exit:hover{
  scale: 1.1;
}

.poster:hover{
  scale: .95;
}

/* footer */

footer{
  line-height: 100px;
}